{% extends 'base.html' %}

{% block title %} {{book.title}} {% endblock title%}

{% block content %}
    <div class="book-detail">
        <h1>{{book.title}}</h1>
        <p>Author: {{book.author}}</p>
        <p>Price: {{book.price}}</p>
        <a href="{% url 'edit-book' book.id %}">Edit</a>
            <div class="reviews">
                {%if book.reviews.all %}
                    {% for review in  book.reviews.all %}
                 <p> &nbsp; &nbsp; &nbsp; <b>{{review.user}}:</b> &nbsp; {{review.review}}   <a href="{% url 'del_review' review.pk %}">delete</a></p>

                    {% endfor  %}
                {% endif %}

                <div>
                    <h3>Add review</h3>
                    <form action="{% url 'add_review'  %}" >
                        {% csrf_token %}
                      
                        <textarea name="review" id="" cols="30" rows="10" placeholder="add review" required></textarea>
                        <p>{% if user.is_anonymous %} <a  href="{% url 'account_login' %}">login to add review </a> {% else %} <button value="{{book.id}}" name="book_id">Submit</button> {% endif %}</p>
                    </form>
                </div>

            </div>
    </div>




{% endblock content %}