{% extends 'base.html' %}

{% block title %} home {% endblock title%}

{% block content %}
    <h1>Homepage</h1>

    <form action="{% url 'search-result' %}" onsubmit="return true;">
        <input type="search" name="query" id="search" placeholder="search..." class="search"  >
        <button class="search search-btn " id="search-btn">search</button>

    </form>
    {% if user.is_authenticated %}
    Hi {{ user.email }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

    <h1 style="color: red;">TODO</h1>
    <ul style="list-style: decimal;">
        <li style="list-style: decimal;">Add few books on this page(home page) and make the page paginated, the list of book <br>
        each book should be wrapped in a box with image and the title and author 
        </li>
        <li style="list-style: decimal;">on the books page, each books should be grouped by categories</li>
    </ul>

{% endblock content %}