<nav class="navbar">
    <div class="nav-container">
        <div class="site-icon">
           <a href="{% url 'home' %}" style="color: #00a6ff; text-decoration: none;"> bookstore</a>
           
        </div>
        <div class="nav-items">
            <ul>
                <li><a class="btn-outline" href="{% url 'schema-swagger-ui' %}">API Endpoints</a></li>
                <li><a href="{% url 'book-list' %}">books</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact-us' %}">contact us</a></li>
                


                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">logout</a></li>

                {% else %}
                <li><a href="{% url 'account_login' %}">login</a></li>
                <li><a class="btn-outline" href="{% url 'account_signup' %}">Signup</a></li>
                {% endif %}
                
            </ul>
        </div>

    </div>
</nav>